.container {
        overflow: hidden;
        
    }

 .logo1{
        max-width: 50%;
    }

    .body{

        background: #ded9d7 url() no-repeat right top fixed;
    }

    .logo1 img{
        position: relative;
        left: 22%;
        width: 30%;
        top: 10;

    }

    .h1{
        position: absolute;
        top: 80px;
        left: 40%;
    }

    .h2{

         position: absolute;
        top: 120px;
        left: 42%;

    }
    .border {

      position: relative; 
      left: 23%;  
      margin: 12px;
      border: 30px solid #038BFB;
      width: 45px;
      height: 0px;
      
    }

 .button {

          background-color: #56D8DA; 
          border: none;
          color: white;
          padding: 2%;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 100%;
          margin: 4px 2px;
          cursor: pointer;
          width: 24.4%;
          position: center;
        }

        .button1 {
            background-color: black; 
            position: absolute;
            top: 58%; 
            border-radius: 12px;
            width: 98.5%;    
        }

        .button2 {
            background-color: black; 
            position: absolute;
            top: 99%; 
            border-radius: 12px;
            width: 98.5%;    
        }

        .button3 {
                background-color: black; 
                position: absolute;
                top: 140%; 
                border-radius: 12px;
                width: 98.5%;    
        }
        .button4 {
                background-color: black; 
                position: absolute;
                top: 181.3%; 
                border-radius: 12px;
                width: 98.5%;    
                }

        p.round1 {
          position: relative;
          top: 64.9%;
          border: 2px solid black;
          border-radius: 16px;
          height: 250px;
          
        }         

        .header {
                 background-color: #F1F1F1;
                 text-align: center;
                 padding: 20px;
                }

        .icon{
               position: absolute;
               left: 90%;
               top: 30px;
             }
